[submodule "scripts/bayes_opt/saasbo"]
	path = scripts/bayes_opt/saasbo
	url = https://github.com/martinjankowiak/saasbo.git
[submodule "ConstrainedLaMCTS"]
	path = ConstrainedLaMCTS
	url = https://github.com/amifalk/ConstrainedLaMCTS.git
